body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  font-family: var(--font-montserrat);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--dark-bg-color);
  color: var(--text-white);
}

* {
  margin: 0;
  transition: all 0.3s ease;
}

header {
  position: sticky;

  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 3%;
  height: 5vh;
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

#logo:hover {
  transform: scale(1.1);
}

#logo span {
  text-align: center;
}

span#logo-send {
  font-size: 1.58rem;
  font-family: var(--font-bungee);
  color: var(--text-white);
}

span#logo-dot {
  /* background-color: var(--orange); */
  width: 8px;
  height: 8px;
  border-radius: 50%;
  align-self: self-end;
  position: relative;
  top: -10px;
  right: 3px;
}

span#logo-eth {
  transform: rotateZ(-5deg);
  font-size: 0.9rem;
  font-family: cursive;
  color: var(--text-white);
}

nav {
  flex-grow: 1;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-link {
  width: 15%;
  text-decoration: none;
  color: var(--text-white);
}

.nav-link:visited {
  color: var(--text-white);
}

nav > ul li {
  list-style-type: none;
  
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

nav > ul li:hover {
  font-weight: bold;
}

nav > ul li > div {
  text-align: center;
  width: 0%;
  height: 0px;
  /* background-color: var(--orange-accent); */
}

nav > ul li:hover > div {
  width: 50%;
  height: 2px;
}

main {}

main > section {
  padding: 4% 10%;
}

#hero-section {
  height: 95vh;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.hero-left-container {
  /* height: 70%; */
  width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 40px;
}

.hero-left-container > h1 {
  font-size: 2.8rem;
  width: 50%;
}

.hero-left-container > button {
  width: max-content;
  padding: 12px 20px;
  font-size: 1.4rem;
}

.hero-right-container {
  flex-grow: 1;
  /* width: 100%; */
}

.hero-right-container > img {
  width: 220px;
  animation-name: "bounce";
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-direction: alternate-reverse;
}

#input-form-container {
  width: 100%;
  /* height: 200px; */
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow-purple);
}

#input-form-container > img {
  width: 50px;
  position: relative;
  top: -55px;
  padding: 0 20px;
  border-top: 10px solid var(--dark-bg-color);
  border-bottom: 10px solid var(--dark-bg-color);
  border-radius: 20%;
  background-color: var(--dark-bg-color);
  /* transform: rotateZ(-90deg); */
  animation-name: "traverse";
  animation-duration: 6.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

#input-form-container > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -30px;
}

#input-form-container > div > h2 {
  margin-bottom: 20px;
  /* position: relative;
  top: -20px; */
}

#transaction-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 30px;
}

#transaction-form input {
  font-family: var(--font-inter);
}

#transaction-form > .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.form-group > input, .form-group > textarea {
  width: 100%;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid var(--bg-color);
  border-radius: 10px;
  box-sizing: border-box;
}

.form-group > input:focus, .form-group > textarea:focus {
  outline: 2px solid var(--orange-accent);
}

.form-group > textarea
{
  height: 100px;
  resize: none;
}

#submit-transaction-btn {
  padding: 14px;
  color: var(--purple);
  background-color: var(--text-white);
  border: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  width: 95%;
  align-self: center;
  font-family: var(--font-montserrat);
  box-shadow: var(--shadow-purple);
}

#submit-transaction-btn:hover {
  transform: scale(1.04) rotateZ(0);
  background-color: var(--purple);
  color: var(--text-white);
}