
:root {
  --dark-bg-color: #0b0014;
  --bg-color: #1b0032;
  --purple: #500073;
  --orange: #C62300;
  --orange-accent: #F14A00;

  --text-white: rgb(230, 230, 230);
  --font-bungee: "Bungee", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;

  --shadow-purple: 0 4px 4px 4px var(--purple);
}

.text-orange{
  color: var(--orange) !important;
}

.text-orangeAccent{
  color: var(--orange-accent) !important;
}

.bg-orange{
  background-color: var(--orange) !important;
}
.bg-orangeAccent{
  background-color: var(--orange-accent) !important;
}

.font-bungee {
  font-family: var(--font-bungee) !important;
}

.font-inter {
  font-family: var(--font-inter) !important;
}

.font-mont {
  font-family: var(--font-montserrat) !important;
}

.font-cursive {
  font-family: cursive !important;
}

.primary-btn {
  padding: 8px 18px;
  background-color: var(--purple);
  color: var(--text-white);
  border: none;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}

.primary-btn:hover {
  transform: scale(1.07) rotateZ(-1.8deg);
  color: var(--purple);
  background-color: var(--text-white);
}

.secondary-btn {
  border: 2px solid var(--text-white);
  background-color: transparent;
  padding: 8px 18px;
  color: var(--text-white);
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 8px;
  cursor: pointer;
}

.secondary-btn:hover {
  transform: scale(1.07) rotateZ(-1.8deg);
  color: black;
  background-color: var(--text-white);
}

@keyframes bounce {
  0% {
    transform: translateY(0px) scale(.8);

  }

  50% {
    transform: translateY(0px) scale(.72);
  }

  75% {
    transform: translateY(-130px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes traverse {
  from {
    transform: translateX(-150px) rotateZ(-90deg);
    /* transform: rotateZ(-90deg); */
  }

  to {
    transform: translateX(150px) rotateZ(-90deg);
    /* transform: rotateZ(-90deg); */
  }
}

@keyframes spinner-svg {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }

  0% {
    fill: white;
    scale: 1;

  }

  90% {
    fill: var(--orange-accent);
    scale: 1.2;
  }

  100% {
    fill: white;
    scale: 1;
  }
}